
.motoverse-banner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #373737;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 68px;
    position: absolute;
    top: 72px;
    width: 100%;
    z-index: 2
}

@media(max-width: 768px) {
    .motoverse-banner {
        top:12%;
    }
}

.motoverse-banner .banner-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    color: #fff;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    position: relative;
    text-align: center;
    width: 825pt
}

.motoverse-banner .banner-container,.motoverse-banner .banner-container .banner-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.motoverse-banner .banner-container .close-hero-btn {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer
}

.motoverse-banner .banner-container .close-hero-btn svg {
    background-color: #373737;
    border: 1px solid #373737;
    height: 24px;
    width: 24px
}

@media(max-width: 768px) {
    .motoverse-banner .banner-container .close-hero-btn {
        position:relative;
        right: 15px;
        top: -8px
    }
}

.motoverse-banner .banner-container .banner-logo {
    background: #282828;
    border-radius: 50%;
    margin: 9pt;
    padding: 5px
}

.motoverse-banner .banner-container .banner-logo .logo-img {
    border-radius: 50%;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 40px
}

.motoverse-banner .banner-container .event-title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-right: 9pt;
    margin-bottom: 0;
    text-transform: uppercase
}

@media(max-width: 768px) {
    .motoverse-banner .banner-container .event-title {
        font-size:11px;
        text-align: left
    }
}

@media(max-width: 400px) {
    .motoverse-banner .banner-container .event-title {
        width:60%
    }
}

.motoverse-banner .banner-container .watch-live-btn {
    background-color: transparent;
    border: none;
    color: #da291c;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1pc;
    font-weight: 700;
    padding: 8px 1pc
}

@media(max-width: 768px) {
    .motoverse-banner .banner-container .watch-live-btn {
        bottom:1pc;
        font-size: 9pt;
        padding: 0;
        position: absolute;
        right: 14px
    }
}

/* @media(max-width: 768px) {
    .motoverse-banner
    {
        display: none;
    }
} */