
.homeherobanner .hero-section {
    color: #fff;
    display: block;
    height: 88vh;
    overflow: hidden;
    position: relative;
    z-index: 1
}

@media(max-width: 768px) {
    .homeherobanner .hero-section {
        height:650px
    }
}

.homeherobanner .hero-section .banner-background-image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.homeherobanner .hero-section .overlay {
    background: linear-gradient(88.06deg,#000 1.29%,rgba(0,0,0,.51) 41.4%,transparent 74.68%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.homeherobanner .hero-section .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    max-width: 825pt;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media(max-width: 768px) {
    .homeherobanner .hero-section .hero-content {
        gap:10px;
        left: auto;
        max-width: 100%;
        padding-left: 20px;
        top: 40%;
        -webkit-transform: none;
        transform: none
    }
}

.homeherobanner .hero-section .hero-content .small-logo {
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 150px
}

.homeherobanner .hero-section .hero-content .hero-title p {
    font-family:  Bold,sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.1;
    margin: 0;
    max-width: 500px;
    width: 100%
}

@media(max-width: 768px) {
    .homeherobanner .hero-section .hero-content .hero-title p {
        font-size:40px;
        font-weight: 600;
        width: 80%
    }
}

.homeherobanner .hero-section .hero-content .hero-description p {
    color: #a7a7a7;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    width: 40%
}

@media(max-width: 768px) {
    .homeherobanner .hero-section .hero-content .hero-description p {
        display:none
    }
}

.homeherobanner .hero-section .hero-content .glass-button {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(112.38deg,hsla(0,0%,100%,.5) -120.84%,hsla(0,0%,100%,.1) 79.67%);
    border: 1px solid;
    border-image-source: linear-gradient(131.33deg,hsla(0,0%,100%,.26) -34.97%,hsla(0,0%,100%,0) 114.31%);
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 3pc;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 180px
}

.homeherobanner .hero-section .hero-content .glass-button:hover {
    background: linear-gradient(112.38deg,hsla(0,0%,100%,.5) .84%,hsla(0,0%,100%,0) 79.67%);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px)
}

.homeherobanner .hero-section .hero-content .glass-button:active {
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

.homeherobanner .hero-section .hero-section-video-popup-trigger {
    -webkit-backdrop-filter: blur(16.367px);
    backdrop-filter: blur(16.367px);
    background: hsla(0,10%,92%,.76);
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 5pc;
    left: 50%;
    margin: auto;
    position: absolute;
    text-decoration: none;
    top: 50%;
    width: 5pc
}

@media(max-width: 768px) {
    .homeherobanner .hero-section .hero-section-video-popup-trigger {
        height:50px;
        left: 48%;
        top: 34%;
        width: 50px
    }
}

.homeherobanner .hero-section .hero-section-video-popup-trigger .hero-modal-play-icon {
    fill: #000;
    height: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 40px
}

.homeherobanner .video-container {
    background-color: #000;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative
}

.homeherobanner .video-container iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.homeherobanner .desktop-video {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.homeherobanner .desktop-video video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 100%
}

.homeherobanner .mobile-video {
    display: none
}

.homeherobanner .scroll-indicator {
    bottom: 22px;
    left: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2
}

.homeherobanner .scroll-indicator .scroll-icon {
    -webkit-animation: bounce 1.5s ease-in-out infinite;
    animation: bounce 1.5s ease-in-out infinite;
    position: relative;
    left: 40%;
}

.homeherobanner .scroll-indicator .scroll-icon img {
    width: auto
}

.homeherobanner .scroll-indicator a {
    cursor: pointer
}

.homeherobanner .scroll-indicator a img {
    width: auto
}

@media(max-width: 768px) {
    .homeherobanner .scroll-indicator {
        display:none
    }
}

@-webkit-keyframes bounce {
    0%,to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

@keyframes bounce {
    0%,to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

@media(max-width: 768px) {
    .homeherobanner .desktop-video {
        display:none
    }

    .homeherobanner .mobile-video {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1
    }

    .homeherobanner .mobile-video video {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        width: 100%
    }
}

.hero-banner-swiper .swiper .swiper-pagination {
    bottom: 110px!important;
    margin: auto;
    position: relative!important;
    text-align: left!important;
    width: 825pt!important
}

@media(max-width: 768px) {
    .hero-banner-swiper .swiper .swiper-pagination {
        left:15px!important;
        top: 85%!important
    }
}

.hero-banner-swiper .swiper .swiper-pagination-bullet {
    background-color: hsla(0,0%,100%,.5);
    border-radius: 0;
    height: 3px;
    width: 30px
}

.hero-banner-swiper .swiper .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 45px
}

.hero-banner-swiper .swiper .cmp-carousel__actions,.hero-banner-swiper .swiper .cmp-carousel__indicators,.hero-banner-swiper .swiper .swiper-button-next,.hero-banner-swiper .swiper .swiper-button-prev {
    display: none
}

/* .hero-banner-swiper> .section > div{
    max-width: 100%;
} */