/* .header .container {
  margin: 0 !important;
} */

.sfb-header-2-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
 background: #0a0a0a;
    position: fixed;
    overflow: visible;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 74px;
    width: 100%;

}
@media only screen and (max-width: 768px) {
  .header-cont {
    display: flex;
  }
  .main-nav
  {
    display: none;
  }
}
.header-logo {
  padding: 0 12px;
}

.header-logo img {
  height: 40px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #fff !important;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;

}

.header-nav-list li {
  margin: 0 5px;
  display: flex;
  position: relative;
  padding: 0px 30px;
  align-items: center;

}

.header-nav-list li > ul {
  display: none;
  position: absolute;
  top: 26px;
  background: #0a0a0a;
 padding: 10px 0;
}

.header-nav-list li:hover > ul {
  display: block;
}

.header-nav-list li > ul > li:hover {
 color: red;
}

 .header-nav-list > li::after {
  content: '';
  width: 15px;
  height: 14px;
  background-image: url("https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png");
  background-size: 26px;
  background-repeat: no-repeat;
  position: relative;
  border: none;
  right: 20px;
  top: 1px;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease-in-out;
  background-size: 100%;
  vertical-align: middle !important;
  left: 10px;
}

.header-nav-list a {
  text-decoration: none;
  color: #fff;
}

.header-nav-list a:hover {
  color: red;
}


.action-container {
  align-items: center;
  display: flex;
}

.action-container p {
  margin: 0 10px;
}

.btn-login {
padding-right:20px ;
font-weight: bold;
font-size: 15px;
}

.search-icon img {
  height: 20px;
  cursor: pointer;
}

.header-nav-list li > ul > li{
font-size: 14px;
padding: 8px 30px;
}

.header-nav-list li:hover::after{
  transform: rotate(180deg);
}

/* .header-nav-list > li::after */