.marquee-rides-events.block{
    margin: auto;
    max-width: 825pt;
}

.marquee-rides-events-container {
    height: 572px;
}

@media only screen and (max-width: 600px) {
    .marquee-rides-events-container {
        margin:20px
    }
}

.marquee-rides-events-container .marquee-rides-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1pc
}

@media(max-width: 768px) {
    .marquee-rides-events-container .marquee-rides-header .marqee-rides-title {
        -webkit-box-flex:1;
        -ms-flex: 1;
        flex: 1
    }
}

.marquee-rides-events-container .marquee-rides-header .marqee-rides-title .marquee-title {
    color: #ededed;
;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px
}

@media(max-width: 768px) {
    .marquee-rides-events-container .marquee-rides-header .marqee-rides-title .marquee-title {
        font-size:24px
    }
}

.marquee-rides-events-container .marquee-rides-header .marqee-rides-title .marquee-description {
    color: #a7a7a7;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
    font-weight: 400;
    margin-bottom: 2rem
}

.marquee-rides-events-container .marquee-rides-header .view-more-cta {
    padding: 20px 0
}

.marquee-rides-events-container .marquee-rides-header .view-more-cta .view-more-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Montserrat;
    font-size: 1pc;
    font-weight: 700;
    gap: 5px;
    justify-content: center
}

.marquee-rides-events-container .marquee-rides-header .view-more-cta .view-more-button:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="red" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>');
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px
}

.marquee-rides-events-container .cmp--marquee-swiper {
    position: relative
}

.marquee-rides-events-card {
    height: 430px!important;
    overflow: hidden;
    position: relative!important
}

.marquee-rides-events-card img {
    background-repeat: no-repeat;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    width: 100%
}

.marquee-rides-events-card img:hover {
    -webkit-transform: none;
    transform: none
}

.marquee-rides-events-card .status-banner {
    background: #e5c34d;
    border-radius: 0 0 4px 0;
    color: #181818;
    font-family: Montserrat;
    font-size: 9pt;
    font-weight: 600;
    line-height: 16.8px;
    margin: 0;
    padding: 9px 11px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrape;
    width: 134px
}

.marquee-rides-events-card .card-content-container {
    bottom: 0;
    color: #a6a6a6;
    position: absolute;
    width: 100%
}

.marquee-rides-events-card .card-content-container:before {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(70.98%,rgba(0,0,0,.8)),to(rgba(33,33,33,0)));
    background: linear-gradient(0deg,rgba(0,0,0,.8) 70.98%,rgba(33,33,33,0));
    content: "";
    inset: 0;
    position: absolute
}

.marquee-rides-events-card .card-content-container .card-content {
    margin: 15px auto;
    position: relative;
    width: 90%
}

@media only screen and (max-width: 600px) {
    .marquee-rides-events-card .card-content-container .card-content {
        width:80%
    }
}

.marquee-rides-events-card .card-content-container .card-content .card-heading {
    color: #ededed;
    font-family: Montserrat;
    font-size: 1pc;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    text-align: left
}

.marquee-rides-events-card .card-content-container .card-content .divider {
    border: 1px solid #373737;
    margin: 8px auto;
    width: 100%
}

.marquee-rides-events-card .card-content-container .card-content .location {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Montserrat;
    font-size: 9pt;
    font-weight: 500;
    gap: 10px;
    line-height: 16.8px;
    margin: 10px 0;
    text-align: left
}

.marquee-rides-events-card .card-content-container .card-content .location p {
    margin: 0
}

.marquee-rides-events-card .card-content-container .card-content .location:before {
    content: url("https://stagecdn.royalenfield.com/etc.clientlibs/RE-Platform-Revamp/clientlibs/clientlib-ridesmain/resources/images/location.svg");
    display: inline-block;
    height: 9pt;
    width: 9pt
}

.marquee-rides-events-card .card-content-container .card-content .date {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Montserrat;
    font-size: 9pt;
    font-weight: 400;
    gap: 10px;
    line-height: 16.8px;
    text-align: left
}

.marquee-rides-events-card .card-content-container .card-content .date:before {
    content: url("https://stagecdn.royalenfield.com/etc.clientlibs/RE-Platform-Revamp/clientlibs/clientlib-ridesmain/resources/images/date.svg");
    display: inline-block;
    height: 9pt;
    width: 9pt
}

.marquee-rides-events-card .card-content-container .card-content .card-buttons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-top: 10px
}

@media only screen and (max-width: 600px) {
    .marquee-rides-events-card .card-content-container .card-content .card-buttons {
        gap:20px
    }
}

.marquee-rides-events-card .card-content-container .card-content .card-buttons .card-details-button {
    color: #da291c;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 9pt;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    text-decoration: none
}

.marquee-rides-events-card .card-content-container .card-content .card-buttons .card-details-button:hover {
    color: #f24d3e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.marquee-rides-events-card .card-content-container .card-content .card-buttons .card-after-movie-button {
    border: 1px solid #a7a7a7;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 9pt;
    font-weight: 700;
    line-height: 16.8px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    width: 215px;
    width: 100%
}

.marquee-rides-events-card .card-content-container .card-content .card-buttons .card-after-movie-button:hover {
    border: 1px solid #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media(max-width: 768px) {
    .cmp--marquee-swiper .swiper-horizontal {
        height:494px
    }
}

.cmp--marquee-swiper .swiper-pagination {
    position: absolute!important;
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important
}

@media(max-width: 768px) {
    .cmp--marquee-swiper .swiper-pagination {
        bottom:-40px!important
    }
}

.cmp--marquee-swiper .swiper-pagination-horizontal {
    left: 40px;
    position: absolute;
    top: 370px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.cmp--marquee-swiper .swiper-pagination-bullet {
    background-color: hsla(0,0%,100%,.5);
    border-radius: 0;
    height: 3px;
    width: 30px
}

.cmp--marquee-swiper .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 40px
}

.cmp--marquee-swiper .cmp-carousel__actions,.cmp--marquee-swiper .cmp-carousel__indicators,.cmp--marquee-swiper .swiper-button-next,.cmp--marquee-swiper .swiper-button-prev {
    display: none
}
.cmp--marquee-swiper .cmp-container {
    margin: 0 auto;
    max-width: 825pt;
    overflow: hidden
}